:root {
  --background-color: #f6f6f6;
  --grey: #d3d3d3;
  --border-width: 2px;
  --border-type: solid;
  --border-color: black;
}

* {
  font-family: "Raleway", Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.game-board {
  width: 600px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}

#message {
  font-size: x-large;
}

.field {
  width: 200px;
  height: 200px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.field:nth-of-type(4),
.field:nth-of-type(6),
.field:nth-of-type(7),
.field:nth-of-type(8),
.field:nth-of-type(9) {
  border-top: var(--border-width) var(--border-type) var(--border-color);
}

.field:nth-of-type(1),
.field:nth-of-type(2),
.field:nth-of-type(4),
.field:nth-of-type(7),
.field:nth-of-type(8) {
  border-right: var(--border-width) var(--border-type) var(--border-color);
}

.field:nth-of-type(1),
.field:nth-of-type(2),
.field:nth-of-type(3),
.field:nth-of-type(4),
.field:nth-of-type(6) {
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
}

.field:nth-of-type(2),
.field:nth-of-type(3),
.field:nth-of-type(6),
.field:nth-of-type(8),
.field:nth-of-type(9) {
  border-left: var(--border-width) var(--border-type) var(--border-color);
}

.field:nth-of-type(5) {
  border: var(--border-width) var(--border-type) var(--border-color);
}

button {
  width: 160px;
  padding: 16px;
  border: 0;
  border-radius: 8px;
  background-color: teal;
  color: white;
  font-size: medium;
}

@media only screen and (max-width: 500px) {
  .game-board {
    width: 450px;
  }

  .field {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 400px) {
  .game-board {
    width: 360px;
  }

  .field {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 300px) {
  .game-board {
    width: 300px;
  }

  .field {
    width: 100px;
    height: 100px;
  }
}
